

/* .App-header {
  min-height: 10vh;
  background-color: #adc1e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2vh + 2vmin);
  color: white;
} */

/* html,
body {
  font-size: 18px;
  background-color: f5f6f7;
} */

/* h1 {
  max-width: 940px;
  font-size: 2.5em;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 1.1;
  margin: 40px 0;
} */

  .App {
  min-height: 100vh; /* altura min de la app, 100% de la pantalla verticalmente*/
  display: flex;
    /* uno de bajo del otro */
  flex-wrap: wrap;
  align-items: center;
  text-align: center;   /* horizontal */
  justify-content: center;   /* vertical */
  } 

/* .contenedor-principal {
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} */

/* .App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */